/* Write your global styles here, in PostCSS syntax */

:root {
	--theme-rounded-base: 20px;
	--theme-rounded-container: 4px;
}

:root {
    --theme-font-family-base: 'MyCustomFont', sans-serif;
    --theme-font-family-heading: 'MyCustomFont', sans-serif;
}
		